@model Equipe

@{
    ViewData["Title"] = "Edit";
}

<h2>Edição de Equipes</h2>

@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{

    <form method="post" action='@Url.Action("Atualizar")' enctype="multipart/form-data">

        <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

        <label for="">Nome</label>
        <input type="text" name="Nome" value="@ViewBag.Equipe.Nome" required>

        <label for="">Imagem</label>
        <input type="file" name="Imagem" value="@ViewBag.Equipe.Imagem">

        <button type="submit">Atualizar</button>

    </form>

        <link rel="stylesheet" href="~/css/equipes.css">
<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">
        
        
        <form method='post' action='@Url.Action("Atualizar")' enctype="multipart/form-data" class="frm-cad-equipe">
            <div class="cadequipe-titulo">
                <h1>Edição de Equipes</h1>
                <hr>
            </div>

<input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">
            <input class="campo-entrada" type="number" id="idEquipe" placeholder="Digite o Id da sua equipe:">
            <input name="Nome" required class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:">
            <label style="cursor:pointer;"  class="foto" for="foto-file">
                Nenuma imagem selecionada...
                <input name="Imagem" type="file" id="foto-file">
            </label>
            
            <button style="cursor:pointer;" type="submit">Cadastro</button>
            

        </form>
    </section>
</main>
}


